.container {
  padding: 10px;
}

.title {
  font-size: 24px;
  color: #01579b;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 20px;
  font-weight: 400;
  color: #c2185b;
   
}

.text {
  font-size: 18px;
  font-weight: 300;
}